.body {
font-family: roboto, arial, helvetica;
}

.header {
    background-color: #1F2937;
}

.logo {
    font-size:24px;
    font-weight: 800;
    color: #f9faf8;
}

.footer {
    border: 2px solid orange;
    background-color: #1F2937;
    color: #f9faf8;
    font-size: small;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
  list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}