.body {
font-family: roboto, arial, helvetica;
}

.header {
    background-color: #1F2937;
}

.logo {
    font-size:24px;
    font-weight: 800;
    color: #f9faf8;
}

.firstline {
    border: 2px solid red;
}

.hero-main-text {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

.hero-secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.sign-up {
    cursor: pointer;
    padding: 8px 16px;
    border-radius: 8px;
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
}

.footer {
    border: 2px solid orange;
    background-color: #1F2937;
    color: #f9faf8;
    font-size: small;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
  list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}